.button-container button {
	min-width: auto;
	margin: 0;
	padding: 1rem;
}

.button-container button svg {
	width: 2rem;
	height: 2rem;
}

.responsive-table {
	overflow-x: auto;
	border-radius: 0.8rem;
}

.responsive-table table {
	width: 100%;
	min-width: 64rem;
	font-size: 1.6rem;
	border-collapse: collapse;
}

.responsive-table th {
	background-color: var(--gray-600);
}
.responsive-table td {
	background-color: var(--gray-800);
}

.responsive-table th,
.responsive-table td {
	border-bottom: 0.2rem solid var(--gray-700);
	padding: 1.6rem;
	text-align: left;
}
